* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'poppins';
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #253858;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #42526E;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1300px;
}
::placeholder {
	color: #C0CCDA;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #C0CCDA;
}

::-ms-input-placeholder {
	color: #C0CCDA;
}
@font-face {
  font-family: 'poppins';
  src: url('../src/assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'poppins';
  src: url('../src/assets/fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

